<html>

<head>
	<title> About </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" >
    <link rel="shortcut icon" href="static/images/book.ico" >


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css" type="text/css" >
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Books Galore</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="{{url_for('index')}}">Home</a></li>
      <li class="active"><a href="{{url_for('about')}}">About</a></li>
      <li><a href="{{url_for('author')}}">Authors</a></li>
	    <li><a href="{{url_for('title')}}">Titles</a></li>
	    <li><a href="{{url_for('publisher')}}">Publishers</a></li>
    </ul>
  </div>
</nav>

    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <!--<a data-toggle="tab" href="#about">About</a></li>-->
            <li class="active"><li><a data-toggle="tab" href="#aleem">Aleem</a></li>
            <li><a data-toggle="tab" href="#mitchel">Mitchell</a></li>
            <li><a data-toggle="tab" href="#nicole">Nicole</a></li>
            <li><a data-toggle="tab" href="#salman">Salman</a></li>
        </ul>

        <div class="tab-content">
<!--
            <div id="about" class="tab-pane fade in active">
                <h2>About Group</h2>
                <p>Some content.</p>
            </div>
-->
            <div id="aleem" class="tab-pane fade">
                <h2>Aleem Ali</h2>
		<img src="static/images/DSC_0065.JPG" alt="404 no penguin here" class="">
		<p>&nbsp
                <p>I am a third year mechanical engineering student and I am also pursuing certificates in business and computer science. My goal is to have a career in the aerospace/aeronautics industry. I like coding because it is a challanging task that makes you think logically and find innovative ways to solve a problem. I hope to apply the skills I learn in this class in my professional life.</p>
		<p>My major responsibilites for this project are ...</p>
		<p>Number of Commits = 3</p>
		<p>Number of Issues = 1</p>
		<p>Number of Unit Tests = 0</p>
            </div>
            <div id="mitchel" class="tab-pane fade">
                <h2>Mitchell Yick</h2>
                <image src ="images/mitchell.jpg" alt = "picture is sleeping">
                <p>Hey everyone. I'm Mitchell Yick. I am a third year Aerospace Engineering student pursuing a certificate in computer science. I have a high interest in artificial intelligence, and have always been fascinated cars and airplanes. Before learning basic engineering, I learned how to program. My passion for cars and airplanes as well as skills in computer science lead me to look for a way to combine these two fields. With some more education, I would like to combine artificial intelligence and cars to make a functional self-driving car.</p>
                <p>My major responsibilities for this project is to make sure everything is clear about what needs to be done.</p>
                <p>Number of Commits = 1</p>
        <p>Number of Issues = </p>
        <p>Number of Unit Tests = 0</p>
</div>
            <div id="nicole" class="tab-pane fade">
                <h2 style="padding-left: 2ex">Nicole Muzquiz</h2>
                <p style="padding-bottom: 5ex;"></p>
                <img src="static/images/derp.JPG" alt="404 no penguin here" class="pull-left">
                <h4>Bio</h4>
                <p>I'm a super senior rocking that extra semester in ECE. I'm graduating this December and my goal is to get a job in Software Development that will <strike>help me pay off this cripping debt</strike> give me the opportunity to keep learning and preferably give free coffe since my blood is caffeine at this point. Jokes aside, I do appriciate what I've learned here and am excited to apply it in industry.</p>
                <br />
                <h4>Major Responsibilities</h4>
                    <p>Make this pretty and get it working</p>
                <br />
                <p>Number of Commits = </p>
                <p>Number of Issues = </p>
                <p>Number of Unit Tests = </p>
            </div>
            <div id="salman" class="tab-pane fade">
                <h2>Salman Charolia</h2>
            <img src="static/images/salman&muizz.jpg" alt="404 no pictures of Salman Here" class="">
            <p>&nbsp
                <p>Hello Everyone! My name is Salman Charolia and I am a third year mechanical engineering student. I am also pursuing a certifiate in Computer Science. I am very interested in problem solving which is why I love computer science, engineering, and entreprenership since there is some aspect of problem solving in each of these careers. I am glad that UT offers the CS certificate because I have gained useful skills from these classes. </p>
            <p>My major responsibilites for this project are to ensure we are meeting all requirements and making sure everyone is learning throughout the whole process because me and a few others don't know HTML so this is a great way to learn. </p>
            <p>Number of Commits = ##</p>
            <p>Number of Issues = ##</p>
            <p>Number of Unit Tests = ##</p>
            </div>
        </div>
    </div>
	<!--<h1>About</h1><hr />
	<h2>Group Name</h2>
	<table BORDER = "2">
		<tr>
			<th>Name</th>
			<th>Photo</th>
			<th>Bio</th>
			<th>Major Responsibilities</th>
			<th># of Commits</th>
			<th># of Issues</th>
			<th># of Unit Tests</th>
		</tr>
		<tr>
			<td>Nicole Muzquiz</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Aleem Ali</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Salman Charolia</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Mitchell Yick</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
	<br /><h2>Stats</h2>
	<table BORDER = "2">
		<tr>
			<th>Total # of Commits</th>
			<th>Total # of Issues</th>
			<th>Total # of Unit Tests</th>
			<th>GitHub Issue Tracker</th>
			<th>GitHub Repo</th>
			<th>GitHub Wiki</th>
		</tr>
		<tr>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>

	</table>
-->
	

</body>

</html>
