<html>

<head>
<title> Books Galore </title>
	<meta name="viewpt" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/book.ico">
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<!--
	<a href = 'about.html'>About</a>
	<a href = 'model.html'>Models</a>
	<a href = 'author.html'>Authors</a>
	<a href = 'title.html'>Titles</a>
	<a href = 'publisher.html'>Publishers</a>
-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Books Galore</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="{{url_for('index')}}">Home</a></li>
      <li ><a href="{{url_for('about')}}">About</a></li>
      <li class="active"><a href="{{url_for('author')}}">Authors</a></li>
	    <li><a href="{{url_for('title')}}">Titles</a></li>
	    <li><a href="{{url_for('publisher')}}">Publishers</a></li>
    </ul>
  </div>
</nav>
<h1> Authors </h1><hr/>
<table BORDER = "2">
		<tr>
			<th>Born</th>
			<th>Name</th>
			<th>Education</th>
			<th>Nationality</th>
			<th>Description</th>
			<th>Alma Mater</th>
			<th>Wikipedia URL</th>
			<th>Image</th>
			<th>Titles</th>
			<th>Publishers</th>
		</tr>
		<tr>
			<td>1965-07-31</td>
			<td>J. K. Rowling</td>
			<td>Bachelor of Arts</td>
			<td>British</td>
			<td>Joanne \"Jo\" Rowling, OBE, FRSL, pen names J. K. Rowling and Robert Galbraith, is a British novelist, screenwriter and film producer best known as the author of the Harry Potter fantasy series.</td>
			<td>University of Exeter</td>
			<td>https://en.wikipedia.org/wiki/J._K._Rowling</td>
			<td><img href = "http://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/J._K._Rowling_2010.jpg/220px-J._K._Rowling_2010.jpg"></td>
			<td><a href="{{url_for('title')}}">Harry Potter and the Sorcerer's Stone</a></td>
			<td><a href="{{url_for('publisher')}}">Pottermore</a></td>
		</tr>
</body>

</html>
