<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{author_name}}</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- -->
    <link href="static/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/Bootstrap/css/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <link href="static/css/Bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <style>
  </style>
  </head>

  <body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Books Galore</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="{{url_for('index')}}">Home</a></li>
      <li ><a href="{{url_for('about')}}">About</a></li>
      <li ><a href="{{url_for('author')}}">Authors</a></li>
      <li ><a href="{{url_for('title')}}">Titles</a></li>
      <li class="active"><a href="{{url_for('publisher')}}">Publishers</a></li>
    </ul>
  </div>
</nav>

    <div class="jumbotron text-center" style="font-family: 'Montserrat', sans-serif;">
    <h1>{{author_name}}</h1>
    <div class = "cover"><img src = "{{publisher_image_url}}"></div>
  </div>

  <div class = "container">
    <div class = "row">
      <div class = "col-md-6 text-left">
        <h2>Information: </h2>
        <p><b>Name: </b>{{author_name}}</p>
        <p><b>Date of Birth: </b>{{dob}}</p>
        <p><b>About: </b>{{author_description}}</p>
        <p><b>Education: </b>{{education}}</p>
        <p><b>Nationality: </b>{{nationality}}</p>
        <p><b>Alma Mater: </b>{{alma_mater}}</p>
        <p><a href = "{{wiki_url}}"><b>Wiki</b></a></p>

      </div>

      <br>

      <div class = "col-md-6 text-left">
        <p><b>Masterpiece Created By {{author_name}}</b></p>
        {% for i in title %}
        <p><a href =  "/title/{{i}}">{{i}}</a></p>
        {% endfor %}

        <br>
        <br>

        <p><b>Publishers associated with {{publisher_name}}</b></p>
        {% for i in publisher %}
        <p><a href =  "/publisher/{{i}}">{{i}}</a></p>
        {% endfor %}
        <br>
  </body>
  </html>