<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{publisher_name}}</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet"> -->
    

  <style>
  </style>
  </head>

  <body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Books Galore</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="{{url_for('index')}}">Home</a></li>
      <li ><a href="{{url_for('about')}}">About</a></li>
      <li ><a href="{{url_for('author')}}">Authors</a></li>
      <li ><a href="{{url_for('title')}}">Titles</a></li>
      <li class="active"><a href="{{url_for('publisher')}}">Publishers</a></li>
    </ul>
  </div>
</nav>

    <div class="jumbotron text-center" style="font-family: 'Montserrat', sans-serif;">
    <h1>{{publisher_name}}</h1>
    <div class = "cover"><img src = "{{publisher_image_url}}"></div>
  </div>

  <div class = "container">
    <div class = "row">
      <div class = "col-md-6 text-left">
        <h2>Information: </h2>
        <p><b>Name: </b>{{publisher_name}}</p>
        <p><b>Owner: </b>{{owner}}</p>
        <p><b>About: </b>{{publisher_description}}</p>
        <p><a href = "{{website}}"><b>Publisher Website</b></a></p>
        <p><a href = "{{publisher_image_url}}"><b>Image URL</b></a></p>
      </div>

      <br>

      <div class = "col-md-6 text-left">
        <p><b>Books published by {{publisher_name}}</b></p>
        {% for i in lib %}
        <p><a href =  "/title/{{i}}">{{i}}</a></p>
        {% endfor %}

        <br>
        <br>

        <p><b>Authors associated with {{publisher_name}}</b></p>
        {% for i in lia %}
        <p><a href =  "/author/{{i}}">{{i}}</a></p>
        {% endfor %}
        <br>
  </body>
  </html>