<html>

<head>
<title> About </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" >
    <link rel="shortcut icon" href="static/images/book.ico" >


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css" >
</head>

<body>

<!--
	<a href = 'about.html'>About</a>
	<a href = 'model.html'>Models</a>
	<a href = 'author.html'>Authors</a>
	<a href = 'title.html'>Titles</a>
	<a href = 'publisher.html'>Publishers</a>
-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Books Galore</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="{{url_for('index')}}">Home</a></li>
      <li ><a href="{{url_for('about')}}">About</a></li>
      <li ><a href="{{url_for('author')}}">Authors</a></li>
      <li ><a href="{{url_for('title')}}">Titles</a></li>
      <li class="active"><a href="{{url_for('publisher')}}">Publishers</a></li>
    </ul>
  </div>
</nav>
<h1> Publishers </h1><hr/>
<h4> Click on the table heading to sort (1 click: A-Z, 2 clicks: Z-A)</h4>

<table BORDER = "2" id = "myTable">
  <thead>
		<tr>
            <th onclick="sortTable(0)">Titles</th>
            <th onclick="sortTable(1)">Authors</th>
            <th onclick="sortTable(2)">Publisher Name</th>
            <th onclick="sortTable(3)">Owner</th>
			<th onclick="sortTable(4)">Description</th>
			<th onclick="sortTable(5)">Image</th>
			<th onclick="sortTable(6)">Website</th>
            <th onclick="sortTable(7)">Wikipedia URL</th>
			
			
		</tr>
  </thead>
    <tbody>
   {% for i in pubs %}
      <tr>
        <td>{% for x in books %}
          {% if x.publisher == i.name %}
            <p>{{x.title}}</p>
            
          {% endif %}
        
        {% endfor %}</td>
        <td>{% for a in auths %}
          {% if a.publisher == i.name %}
            <p>{{a.name}}</p>
            
          {% endif %}
        
        {% endfor %}</td>
        <td>{{i.name}}</td>
        <td>{{i.owner}}</td>
        <td>{{i.description}}</td>
        <td>{{i.image_url}}</td>
        <td>{{i.web_link}}</td>
        <td>{{i.wiki_url}}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>




        <!--<tr>
		<tr>
            <td><a href="{{url_for('title')}}">Harry Potter and the Sorcerer's Stone</a></td>
            <td><a href="{{url_for('author')}}">J. K. Rowling</a></td>
            <td>Pottermore</td>
            <td>J. K. Rowling</td>
			<td>Pottermore is the digital publishing, e-commerce, entertainment, and news company from J.K. Rowling and is the global digital publisher of Harry Potter and J.K. Rowling's Wizarding World.</td>
			<td><img src = "static/images/Pottermore.png" alt="http://upload.wikimedia.org/wikipedia/en/thumb/6/6f/Pottermore.png/225px-Pottermore.png"></td>
			<td><a href = "http://www.pottermore.com\nshop.pottermore.com">http://www.pottermore.com\nshop.pottermore.com</a></td>
            <td><a href= "https://en.wikipedia.org/wiki/Pottermore"> https://en.wikipedia.org/wiki/Pottermore</a></td>
			
            
		</tr>
    <tr>
            <td><a href="{{url_for('title')}}">Animal Farm</a></td>
            <td><a href="{{url_for('author')}}">George Orwell</a></td>
            <td>Scholastic Corporation</td>
            <td>Scholastic Corporation</td>
      <td>Scholastic Corporation is an American publishing, education and media company known for publishing, selling, and distributing books and educational materials for schools, teachers, parents, and children.</td>
      <td><img src = "static/images/Scholastic.JPG" alt="http://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Scholastic_Headquarters_by_Matthew_Bisanz.JPG/240px-Scholastic_Headquarters_by_Matthew_Bisanz.JPG"></td>
      <td><a href = "http://www.scholastic.com">http://www.scholastic.com </a></td>
            <td><a href ='https://en.wikipedia.org/wiki/Scholastic_Corporation'> https://en.wikipedia.org/wiki/Scholastic_Corporation</a></td>
    </tr>
    <tr>
            <td><a href="{{url_for('title')}}">The Very Hungry Caterpillar</a></td>
            <td><a href="{{url_for('author')}}">Eric Carle</a></td>
            <td>Penguin Group</td>
            <td>Penguin Random House</td>
      <td>The Penguin Group is a trade book publisher, part of Penguin Random House. It is owned by Pearson PLC, the global education and publishing company, and Bertelsmann, the German media conglomerate.</td>
      <td><img src = "static/images/Penguin_logo.svg.png" alt="https://upload.wikimedia.org/wikipedia/en/thumb/1/1c/Penguin_logo.svg/150px-Penguin_logo.svg.png"></td>
      <td><a href = "http://PenguinGroup.com">http://PenguinGroup.com</a></td>
            <td>N/A</td>
    </tr>
    </tr>-->

    <script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

</body>

</html>
