<html>

<head>
<title> Books Galore </title>
	<meta name="viewpt" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/book.ico">
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<!--
	<a href = 'about.html'>About</a>
	<a href = 'model.html'>Models</a>
	<a href = 'author.html'>Authors</a>
	<a href = 'title.html'>Titles</a>
	<a href = 'publisher.html'>Publishers</a>
-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Books Galore</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="{{url_for('index')}}">Home</a></li>
      <li ><a href="{{url_for('about')}}">About</a></li>
      <li ><a href="{{url_for('author')}}">Authors</a></li>
	    <li class="active"><a href="{{url_for('title')}}">Titles</a></li>
	    <li><a href="{{url_for('publisher')}}">Publishers</a></li>
    </ul>
  </div>
</nav>
<h1> Titles </h1><hr/>
<h4> Click on the table heading to sort (1 click: A-Z, 2 clicks: Z-A)</h4>

<table BORDER = "2" id = "myTable">
		<tr>
			<th onclick="sortTable(0)">Google ID</th>
			<th onclick="sortTable(1)">Title</th>
			<th onclick="sortTable(2)">ISBN</th>
			<th onclick="sortTable(3)">Publication Date</th>
			<th onclick="sortTable(4)">Image</th>
			<th onclick="sortTable(5)">Description</th>
			<th onclick="sortTable(6)">Publishers</th>
			<th onclick="sortTable(7)">Author</th>
		</tr>
		<tbody>
      {% for i in books %}
      <tr>
        <td>{{i.publication_date}}</td>
        
      </tr>
      {% endfor %}
  </tbody>
</table>
    <!--<tr>
			<td>wrOQLV6xB-wC</td>
			<td>Harry Potter and the Sorcerer's Stone</td>
			<td>9781781100486</td>
			<td>2015-12-08</td>
			<td><img src = "static/images/h1.jpg" alt = "https://books.google.com/books/content/images/frontcover/wrOQLV6xB-wC?fife=w500"</td>
			<td>Turning the envelope over, his hand trembling, Harry saw a purple wax seal bearing a coat of arms; a lion, an eagle, a badger and a snake surrounding a large letter 'H'.\" Harry Potter has never even heard of Hogwarts when the letters start dropping on the doormat at number four, Privet Drive. Addressed in green ink on yellowish parchment with a purple seal, they are swiftly confiscated by his grisly aunt and uncle. Then, on Harry's eleventh birthday, a great beetle-eyed giant of a man called Rubeus Hagrid bursts in with some astonishing news: Harry Potter is a wizard, and he has a place at Hogwarts School of Witchcraft and Wizardry. An incredible adventure is about to begin!</td>
			<td><a href="{{url_for('publisher')}}">Pottermore</a></td>
			<td><a href="{{url_for('author')}}">J. K. Rowling</a></td>
		</tr>
		<tr>
			<td>huZBDAAAQBAJ</td>
			<td>Animal Farm</td>
			<td>N/A</td>
			<td>2016-05-30</td>
			<td><img src="static/images/animal_farm.jpg" alt = "https://books.google.com/books/content/images/frontcover/huZBDAAAQBAJ?fife=w500"></td>
			<td>Tired of their servitude to man, a group of farm animals revolt and establish their own society, only to be betrayed into worse servitude by their leaders, the pigs, whose slogan becomes: \"All animals are equal, but some animals are more equal than others.\" This 1945 satire addresses the socialist/communist philosophy of Stalin in the Soviet Union.</td>
			<td><a href="{{url_for('publisher')}}">Scholastic Corporation</a></td>
			<td><a href="{{url_for('author')}}">George Orwell </a></td>
		</tr>
		<tr>
			<td>0CxcAAAACAAJ</td>
			<td>The Very Hungry Caterpillar</td>
			<td>0141380322</td>
			<td>2003</td>
			<td><img src="static/images/caterpillar.jpg" alt = "https://books.google.com/books/content/images/frontcover/0CxcAAAACAAJ?fife=w500"></td>
			<td>This much-loved classic picture book follows the caterpillar's week while he eats through a range of foods in preparation for his hibernation and subsequent appearance as a beautiful butterfly. With its die-cut pages and holes to explore, this is a richly satisfying book for children. The cuddly caterpillar toy can be pushed through the giant holes as children follow this simple, hopeful story.</td>
			<td><a href="{{url_for('publisher')}}">Penguin Group</a></td>
			<td><a href="{{url_for('author')}}">Eric Carle</a></td>
		</tr> -->

		<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

</body>

</html>
