#nicole {
    min-height: 100%;
    background-image: url(images/pengu.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: #d4e5f6;
    color:#000000;
}


img{
    max-height: 25%;
    max-width: 25%;
    height: auto;
    width: auto;

}
.nav-tabs{
    border-color:#d56d1f;
}

.nav-tabs > li a{
    border: groove #d56d1f;
    background-color: #ffffff;
    color: #d56d1f;
}

.nav-tabs > li.active > a,
 
.nav-tabs > li.active > a:focus,
 
.nav-tabs > li.active > a:hover{
 
background-color:#d56d1f;
 
color:#ffffff;
 
border: 1px solid #ffffff;
 
border-bottom-color: transparent;
 
}

.nav-tabs > li > a:hover {
        background-color: #d56d1f !important;
        border-radius: 5px;
        color: #ffffff;
}

